<div class="formDiv">
  <form class="value-form">
    <mat-form-field class="matField">
      <input type="text" placeholder="Select or create new" aria-label="Assignee" matInput [formControl]="myControl"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button class="btnOutline" *ngIf="showAddButton  && myControl.value" (click)="addValue()">
      Press "Enter" or Click here to add {{myControl.value}}
    </button>
  </form>
</div>